body {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 200%;
}


p{
    margin: 0;
}

h1{
    font-weight: bold;
    text-align: center;
}

h2{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black    ;
}

a:hover{
    background-color: grey;
}


.contenedor{
    display: flex;
    justify-content: space-between; 
}

.texto{
margin-top: 3%;
}

.imagen{
    margin-top: 1%;
    margin-right: 10%;
    width: 17%;
    border-radius: 5%;
}

.estudios{
    text-decoration: underline;
}

.imagenes{
    display: flex;
    flex-direction: row;
}

.imagen2{
    border-radius: 1em;
    width: 80%;
    margin: 0 1em;
}

.mapa{
    display: flex;
    justify-content: center;
}

iframe{
    border-radius: 1em;
}